@import "tailwindcss";

@theme {
  --animate-fade-in-scale: fade-in-scale 0.5s ease-out forwards;

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: translateX(-400px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}